.vh-100 {
    height: 100vh;
}
  
#content {
    height: 60vh;
}

.border-bottom {
    border: none;
    border-bottom: 1px solid #dee2e6;
}

.form-control {
    height: 48px;
}

.form-control:focus {
    box-shadow: none;
}